body{
    background-color: greenyellow;
}
.div{
    position: relative;
    border: 2px solid black;
    border-radius: 40px;
    border-style: groove;
    
}
.counter{
    width: 200px;
    height: 170px;
    /* padding: 100px 100px 100px 100px; */

}
.cri{
    width: 200px;
    height: 170px;
}
.foot{
    width: 200px;
    height: 170px;
}
.para2{
    /* width: 200px; */
    /* height: 170px; */
    /* top: 100px; */
    /* left: 100px; */
    /* text-align: right; */
    /* padding: 100px 100px 100px 850px; */
    text-align: center;
}
.hobbies{
     border: 2px solid black;
    border-radius: 20px;
     border-style: groove;
     text-align: center;
     gap: 30px;
    
}
.html{
    background-color: white;
    width: 160px;
    height: 150px;
    border-radius: 18px;
    position: absolute;
    top: 430;
    left: 160;
    border: 7px solid;
}
.java{
    background-color: white;
    width: 210px;
    height: 150px;
    border-radius: 18px;
    position: absolute;
    top: 430;
    left: 410;
    border: 7px solid;

}
.css{
    background-color: white;
    width: 156px;
    height: 137px;
    border-radius: 18px;
    position: absolute;
    top: 435;
    left: 700;
    border: 7px solid;

}
.phyton{
   background-color: white;
    width: 150px;
    height: 135px;
    border-radius: 18px;
    position: absolute;
    top: 435;
    left: 945;
    border: 7px solid;
}
.main{
    /* border: 2px solid black; */
    /* border-radius: 20px; */
     /* border-style: groove; */
}
.me{
    text-align: center;
}
